# Docker build ignore list
node_modules
.next
.git
.gitignore
.dockerignore
Dockerfile
README.md
LICENSE

# Local environment & settings files
.env*.local
config.json
db.json
db.json.*
*.tmp

# Caches & user upload directories
.soyo-thumbs
.soyo-torrents
public/avatars/*
!public/avatars/.gitkeep

# IDE & OS files
.vscode
.idea
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
